<t name="Homepage" t-name="website.homepage2">
  <t t-call="website.layout">
    <t t-set="pageName" t-value="'homepage'"/>
    
    <div id="wrap" class="oe_structure oe_empty">
      <section class="s_parallax parallax s_parallax_is_fixed bg-black-50 s_parallax_no_overflow_hidden pt176 pb192" data-scroll-background-ratio="1" style="background-image: none;">
        <span class="s_parallax_bg oe_img_bg oe_custom_bg" style="background-image: url(&quot;https://dalbagroup.odoo.com/web/image/29985/hannan-banner-1.jpg&quot;)

; background-position: 50% 75%;"/>
        <div class="oe_structure">
          <section>
            <div class="container">
              <div class="row s_nb_column_fixed">
                <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
                  <h1 class="s_title_boxed">
                    <font style="font-size: 62px;">AL RAWABI AGENCY</font>
                  </h1>
                  <div class="s_btn text-center pt16 pb16" data-name="Buttons">
                    <a href="#" class="btn btn-primary" data-original-title="" title="" aria-describedby="tooltip972937">APPLY NOW</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section class="s_text_block pt32 pb32">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1 pt32 pb32">
              <p class="lead o_default_snippet_text">A great way to catch your reader's attention is to tell a story. <br/>Everything you consider writing can be told as a story.</p>
              <p class="o_default_snippet_text"><b class="o_default_snippet_text">Great stories have personality.</b> Consider telling a great story that provides personality. Writing a story with personality for potential clients will assists with making a relationship connection. This shows up in small quirks like word choices or phrases. Write from your point of view, not from someone else's experience.</p>
              <p class="o_default_snippet_text"><b class="o_default_snippet_text">Great stories are for everyone even when only written for just one person.</b> If you try to write with a wide general audience in mind, your story will ring false and be bland. No one will be interested. Write for one person. If it’s genuine for the one, it’s genuine for the rest.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="pt32 pb32">

        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
              <h1 class="s_title_default">OUR SERVICES</h1>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns bg-200 pt32 pb32">
        <div class="container">
          <div class="row d-flex align-items-stretch">
            <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
              <div class="card bg-white">
                <img class="card-img-top" src="/web/image/website.library_image_11" alt="Odoo - Sample 1 for three columns"/>
                <div class="card-body">
                  <h3 class="card-title o_default_snippet_text">Feature One</h3>
                  <p class="card-text o_default_snippet_text">Adapt these three columns to fit you design need. To duplicate, delete or move columns, select the column and use the top icons to perform your action.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
              <div class="card bg-white">
                <img class="card-img-top" src="/web/image/website.library_image_13" alt="Odoo - Sample 2 for three columns"/>
                <div class="card-body">
                  <h3 class="card-title o_default_snippet_text">Feature Two</h3>
                  <p class="card-text o_default_snippet_text">To add a fourth column, reduce the size of these three columns using the right icon of each block. Then, duplicate one of the column to create a new one as a copy.</p>
                </div>
                <div class="card-footer">
                  <i class="fa fa-info-circle mr-1"/>
                  <small class="o_default_snippet_text">Additional information</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
              <div class="card bg-white">
                <img class="card-img-top" src="/web/image/website.library_image_07" alt="Odoo - Sample 3 for three columns"/>
                <div class="card-body">
                  <h3 class="card-title o_default_snippet_text">Feature Three</h3>
                  <p class="card-text o_default_snippet_text">Delete the above image or replace it with a picture that illustrates your message. Click on the picture to change it's <em class="o_default_snippet_text">rounded corner</em> style.</p>
                  <div class="s_btn text-left pb0 pt16" data-name="Button">
                    <a href="#" class="btn btn-primary btn-sm o_default_snippet_text">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pt32 pb32">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
              <h1 class="s_title_default">
                <font style="font-size: 62px;">HOW IT WORKS</font>
              </h1>
            </div>
          </div>
        </div>
      </section>
      <section class="s_process_steps pt24 pb24">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  <i class="fa fa-shopping-basket fa-2x mx-auto rounded-circle bg-alpha"/>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2 class="o_default_snippet_text">Add to cart</h2>
                <p class="o_default_snippet_text">Let your customers follow <br/>and understand your process.</p>
              </div>
            </div>
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  <i class="fa fa-unlock-alt fa-2x mx-auto rounded-circle bg-beta"/>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2 class="o_default_snippet_text">Sign in</h2>
                <p class="o_default_snippet_text">Click on the icon to adapt it <br/>to your purpose.</p>
              </div>
            </div>
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  <i class="fa fa-paypal fa-2x mx-auto rounded-circle bg-gamma"/>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2 class="o_default_snippet_text">Pay</h2>
                <p class="o_default_snippet_text">Duplicate blocks <br/>to add more steps.</p>
              </div>
            </div>
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  <i class="fa fa-plane fa-2x mx-auto rounded-circle bg-delta"/>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2 class="o_default_snippet_text">Get Delivered</h2>
                <p class="o_default_snippet_text">Select and delete blocks <br/>to remove some steps.</p>
              </div>
            </div> 
          </div> 
        </div>
      </section> 
      <section class="pt32 pb32">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
              <h1 class="s_title_default">
                <font style="font-size: 62px;">REQUIRED DOCUMENTS</font>
              </h1>
            </div>
          </div>
        </div>
      </section>
      <section class="s_features_grid pt48 pb24">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 s_col_no_bgcolor pb24">
              <div class="row">
                <div class="col-lg-12 pb24" data-name="Box">
                  <h2 class="o_default_snippet_text">First list of Features</h2>
                  <h5 class="text-primary o_default_snippet_text">Add a great slogan.</h5>
                </div>
                <div class="col-lg-12 pt16 pb16" data-name="Box">
                  <i class="fa fa-2x fa-font-awesome rounded-circle bg-primary s_features_grid_icon"/>
                  <div class="s_features_grid_content">
                    <h4 class="o_default_snippet_text">Change Icons</h4>
                    <p class="o_default_snippet_text">Double click an icon to replace it with one of your choice.</p>
                  </div>
                </div>
                <div class="col-lg-12 pt16 pb16" data-name="Box">
                  <i class="fa fa-2x fa-files-o rounded-circle bg-primary s_features_grid_icon"/>
                  <div class="s_features_grid_content">
                    <h4 class="o_default_snippet_text">Duplicate</h4>
                    <p class="o_default_snippet_text">Duplicate blocks and columns to add more features.</p>
                  </div>
                </div>
                <div class="col-lg-12 pt16 pb16" data-name="Box">
                  <i class="fa fa-2x fa-trash rounded-circle bg-primary s_features_grid_icon"/>
                  <div class="s_features_grid_content">
                    <h4 class="o_default_snippet_text">Delete Blocks</h4>
                    <p class="o_default_snippet_text">Select and delete blocks to remove some features.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 s_col_no_bgcolor pb24">
              <div class="row">
                <div class="col-lg-12 pb24" data-name="Box">
                  <h2 class="o_default_snippet_text">Second list of Features</h2>
                  <h5 class="text-secondary o_default_snippet_text">Add a great slogan.</h5>
                </div>
                <div class="col-lg-12 pt16 pb16" data-name="Box">
                  <i class="fa fa-2x fa-magic rounded bg-secondary s_features_grid_icon"/>
                  <div class="s_features_grid_content">
                    <h4 class="o_default_snippet_text">Great Value</h4>
                    <p class="o_default_snippet_text">Turn every feature into a benefit for your reader.</p>
                  </div>
                </div>
                <div class="col-lg-12 pt16 pb16" data-name="Box">
                  <i class="fa fa-2x fa-eyedropper rounded bg-secondary s_features_grid_icon"/>
                  <div class="s_features_grid_content">
                    <h4 class="o_default_snippet_text">Edit Styles</h4>
                    <p class="o_default_snippet_text">You can edit colors and background to highlight features.</p>
                  </div>
                </div>
                <div class="col-lg-12 pt16 pb16" data-name="Box">
                  <i class="fa fa-2x fa-picture-o rounded bg-secondary s_features_grid_icon"/>
                  <div class="s_features_grid_content">
                    <h4 class="o_default_snippet_text">Sample Icons</h4>
                    <p class="o_default_snippet_text">All these icons are completely free for commercial use.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
      <section class="pt32 pb32">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
              <h1 class="s_title_default">
                <font style="font-size: 62px;">LABORS CATEGORIES</font>
              </h1>
            </div>
          </div>
        </div>
      </section>
      <section class="pt48 pb48" style="background-color: rgb(239, 239, 239);">
        <div class="container">
          <div class="row">
            <div id="myCarousel1579306305849" class="col-lg-12 s_news_carousel s_carousel s_carousel_default carousel slide s_col_no_bgcolor" data-interval="10000">
              <div class="carousel-control-prev" data-target="#myCarousel1579306305849" data-slide="prev" role="img" aria-label="Previous" title="Previous">
                <span class="carousel-control-prev-icon"/>
                <span class="sr-only o_default_snippet_text">Previous</span>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" style="">
                  <div class="row no-gutters content">
                    <div class="col-lg-3 s_news_carousel_date text-center bg-alpha pt16 pb16">
                      <span class="s_news_carousel_day o_default_snippet_text" style="font-size: 62px;">18</span>
                      <span class="s_news_carousel_month o_default_snippet_text">December</span>
                    </div>
                    <div class="col-lg-9 s_news_carousel_content">
                      <span class="s_badge badge bg-secondary pull-right o_default_snippet_text"><i class="fa fa-1x fa-fw fa-exclamation-circle"/>New
                                        </span>
                      <h3 class="o_default_snippet_text">Create an irresistible website.</h3>
                      <p class="o_default_snippet_text">Your website is where almost all of your customers will end up first. <br/>Let's clear up what it takes to give them the best experience with it.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" style="">
                  <div class="row no-gutters content">
                    <div class="col-lg-3 s_news_carousel_date text-center bg-gamma pt16 pb16">
                      <span class="s_news_carousel_day o_default_snippet_text" style="font-size: 62px;">3</span>
                      <span class="s_news_carousel_month o_default_snippet_text">January</span>
                    </div>
                    <div class="col-lg-9 s_news_carousel_content">
                      <h3 class="o_default_snippet_text">Prepare for the future of eCommerce.</h3>
                      <p class="o_default_snippet_text">Which trends to follow? Which ideas will work? <br/>Opening Keynote - Presented by John DOE.</p>
                      <a href="#" class="btn btn-alpha o_default_snippet_text">REGISTER <i class="fa fa-1x fa-caret-right ml-2"/></a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" style="">
                  <div class="row no-gutters content">
                    <div class="col-lg-3 s_news_carousel_date text-center bg-delta pt16 pb16">
                      <span class="s_news_carousel_icon">
                        <i class="fa fa-3x fa-envelope"/>
                      </span>
                    </div>
                    <div class="col-lg-9 s_news_carousel_content">
                      <h3 class="o_default_snippet_text">Use newsletters to increase your popularity</h3>
                      <p class="o_default_snippet_text">Build relationships and recognition by staying in touch with your customers.</p>
                      <a href="#" class="btn btn-delta o_default_snippet_text">Discover</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-control-next" data-target="#myCarousel1579306305849" data-slide="next" role="img" aria-label="Next" title="Next">
                <span class="carousel-control-next-icon"/>
                <span class="sr-only o_default_snippet_text">Next</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_tabs">
        <div class="container">
          <div class="row s_col_no_bgcolor">
            <div class="col-lg-8 offset-lg-2 pt48 pb48">
              <div class="card bg-white">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link o_default_snippet_text active show" id="nav_tabs_link_1579305557066_46" data-toggle="tab" href="#nav_tabs_content_1579305557066_46" role="tab" aria-controls="nav_tabs_content_1579305557066_46" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link o_default_snippet_text" id="nav_tabs_link_1579305557067_47" data-toggle="tab" href="#nav_tabs_content_1579305557067_47" role="tab" aria-controls="nav_tabs_content_1579305557067_47" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link o_default_snippet_text" id="nav_tabs_link_1579305557067_48" data-toggle="tab" href="#nav_tabs_content_1579305557067_48" role="tab" aria-controls="nav_tabs_content_1579305557067_48" aria-selected="false">Contact</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body tab-content">
                  <div class="tab-pane fade active show" id="nav_tabs_content_1579305557066_46" role="tabpanel" aria-labelledby="nav_tabs_link_1579305557066_46">
                    <h3 class="o_default_snippet_text">Details</h3>
                    <p class="o_default_snippet_text"><b class="o_default_snippet_text">Great stories have personality.</b> Consider telling a great story that provides personality. Writing a story with personality for potential clients will assists with making a relationship connection. This shows up in small quirks like word choices or phrases. Write from your point of view, not from someone else's experience.</p>
                  </div>
                  <div class="tab-pane fade" id="nav_tabs_content_1579305557067_47" role="tabpanel" aria-labelledby="nav_tabs_link_1579305557067_47">
                    <h3 class="o_default_snippet_text">Shipping</h3>
                    <p class="o_default_snippet_text"><b class="o_default_snippet_text">Great stories are for everyone even when only written for just one person.</b> If you try to write with a wide general audience in mind, your story will ring false and be bland. No one will be interested. Write for one person. If it’s genuine for the one, it’s genuine for the rest.</p>
                  </div>
                  <div class="tab-pane fade" id="nav_tabs_content_1579305557067_48" role="tabpanel" aria-labelledby="nav_tabs_link_1579305557067_48">
                    <h3 class="o_default_snippet_text">Review</h3>
                    <blockquote>
                      <p class="o_default_snippet_text">Write a quote here from one of your customers. Quotes are a great way to build confidence in your products or services.</p>
                      <footer class="o_default_snippet_text">— Jane DOE, CEO of <b class="o_default_snippet_text">MyCompany</b></footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pt32 pb32">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
              <h1 class="s_title_default">
                <font style="font-size: 62px;">AVAILABLE COUNTRIES</font>
              </h1>
            </div>
          </div>
        </div>
      </section>
      <section class="s_images_row pb80 pt72">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-lg-3 s_images_row_overlay oe_img_bg pt0 oe_custom_bg pb184" style="background-image: url(&quot;https://dalbagroup.odoo.com/web/image/29987/Screenshot%202020-01-18%2003.08.40.png&quot;);">
              <div class="s_images_row_body bg-white">
                <i class="fa fa-1x fa-camera text-alpha mr-2"/>
                <b class="o_default_snippet_text">Images</b>
              </div>
            </div>
            <div class="col-lg-3 s_images_row_overlay oe_img_bg oe_custom_bg" style="background-image: url(&quot;https://dalbagroup.odoo.com/web/image/29989/Screenshot%202020-01-18%2003.08.49.png&quot;);">
              <div class="s_images_row_body bg-white">
                <i class="fa fa-1x fa-file-o text-alpha mr-2"/>
                <b class="o_default_snippet_text">Notes</b>
              </div>
            </div>
            <div class="col-lg-3 s_images_row_overlay oe_img_bg oe_custom_bg" style="background-image: url(&quot;https://dalbagroup.odoo.com/web/image/29991/Screenshot%202020-01-18%2003.09.10.png&quot;);">
              <div class="s_images_row_body bg-white">
                <i class="fa fa-1x fa-newspaper-o text-alpha mr-2"/>
                <b class="o_default_snippet_text">News</b>
              </div>
            </div>
            <div class="col-lg-3 s_images_row_overlay oe_img_bg oe_custom_bg" style="background-image: url(&quot;https://dalbagroup.odoo.com/web/image/29993/Screenshot%202020-01-18%2003.09.23.png&quot;);">
              <div class="s_images_row_body bg-white">
                <i class="fa fa-1x fa-pencil-square-o text-alpha mr-2"/>
                <b class="o_default_snippet_text">Edit</b>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </t>
</t>